@model FoodHealthModulo1Final.Models.Profiles.Role

@{
    ViewBag.Title = "Details";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="container-fluid rounded" style="background-color: #F5F5F5 ;">
            <h4 style="padding-top:80px">Detalles del rol</h4>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RoleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoleName)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.RoleID }, new { @class = "btn btn-outline-primary" }) |
                @Html.ActionLink("Volver a la Lista", "Index")
            </p>
            <br />
        </div>
    </div>
</header>